test/
play/
tools/
coverage/
secrets/
src/
dist/test/
dist/spec/
dist/sample.js
spec/
docs/
scripts/
pnpm-lock.yaml
.eslintignore
.eslintrc
.env*
.mocharc.json
rollup.config.js
.vscode
.gitignore
.npmignore
.travis.yml
.idea
.env
.publish
.nyc_output
tsconfig.json
tslint.json
gruntfile.js
gulpfile.config.js
gulpfile.js
.yo-rc.json
.eslintrc.json
tsconfig.*
secrets/
tmp/
temp/

.yo-rc.json

# Logs
log/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm
